<div class="tab-titles" id="tab-titles">
    <p class="tab-links" hx-get="/skills" hx-target="#tab-wrapper" hx-swap="innerHTML">Skills</p>
    <p class="tab-links" hx-get="/experience" hx-target="#tab-wrapper" hx-swap="innerHTML">Experience</p>
    <p class="tab-links active-link">Education</p>
</div>
<div class="tab-contents" id="tab-contents">
    <ul>
        <li><span>2023</span><br>M.Sc. Mechanical Engineering with applied CS from TU Kaiserslautern</li>
        <li><span>2021</span><br>B.Sc. Mechanical Engineering from TU Kaiserslautern</li>
        <li><span>2016</span><br>Abitur from Elisabeth-Langgässer-Gymnasium, Alzey</li>
    </ul>
</div>