<div class="tab-titles" id="tab-titles">
    <p class="tab-links active-link">Skills</p>
    <p class="tab-links" hx-get="/experience" hx-target="#tab-wrapper" hx-swap="innerHTML">Experience</p>
    <p class="tab-links" hx-get="/education" hx-target="#tab-wrapper" hx-swap="innerHTML">Education</p>
</div>
<div class="tab-contents" id="tab-contents">
    <ul>
        <li>
            <span>Programming Languages</span>
            <ul class="pro-lan">
                <li><span class="lan">Python</span><span class="skill-level">Advanced</span></li>
                <li><span class="lan">C</span><span class="skill-level">Intermediate</span></li>
                <li><span class="lan">MATLAB</span><span class="skill-level">Intermediate</span></li>
            </ul>
        </li>
    </ul>
</div>